<form name="bubbleSort" action="/" method="POST">
  <label for="array">Array</label>
  <input type="text" id="arrayInput" name="arrayInput" placeholder="Array">
  <input type="submit" value="Submit">
</form>